<h1>Anagram this!</h1>

<form action="/anagram" >
  <div class="form-group">
    <div class="wrapper" style="">
      <label class="" for="register">What word would you like to use?</label>
    </div>
    <input type="text" id="word" name="word" class="form-control">
    <div class="wrapper">
      <label class="" for="register">What words would you like to check?</label>
    </div>
    <input type="text" id="matching" name="matching" class="form-control">
  </div>
  <div class="wrapper">
    <button type="submit" name="send" id="send">Check for anagrams!</button>
  </div>
</form>
